In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

In [2]:

data = {
    'article_id': [1, 1, 2, 2, 4, 3, 3],
    'author_id': [3, 3, 7, 7, 7, 4, 4],
    'viewer_id': [5, 6, 7, 6, 1, 4, 4],
    'view_date': ['2019-08-01', '2019-08-02', '2019-08-01', '2019-08-02', '2019-07-22', '2019-07-21', '2019-07-21']
}

views = pd.DataFrame(data)

In [3]:
views

   article_id  author_id  viewer_id   view_date
0           1          3          5  2019-08-01
1           1          3          6  2019-08-02
2           2          7          7  2019-08-01
3           2          7          6  2019-08-02
4           4          7          1  2019-07-22
5           3          4          4  2019-07-21
6           3          4          4  2019-07-21

In [4]:
import pandas as pd

def article_views(views: pd.DataFrame) -> pd.DataFrame:
    df = views[views['author_id'] == views['viewer_id']]
    df_unique = df[['author_id']].drop_duplicates().rename(columns={'author_id': 'id'}).sort_values('id').reset_index(drop=True)
    df_final = df_unique[['id']]
    return df_final

In [5]:
article_views(views)

   id
0   4
1   7

In [6]:
import pandas as pd

# Sample data
data = {'user_id': [1, 2, 3], 'name': ['john', 'ALICE', 'bOB']}
df = pd.DataFrame(data)

# Fixing the names using a lambda function
df['name'] = df['name'].apply(lambda x: x.capitalize())

# Sorting by user_id
df = df.sort_values('user_id')

# Display the result
print(df)

   user_id   name
0        1   John
1        2  Alice
2        3    Bob

In [7]:
import pandas as pd

def valid_emails(users: pd.DataFrame) -> pd.DataFrame:
    df_valid = users[users['mail'].str.contains(r'^[a-zA-Z][a-zA-Z0-9._-]*@leetcode\.com$')]
    return df_valid

In [8]:
import pandas as pd

# Sample data
data = {
    'patient_id': [1, 2, 3, 4, 5],
    'patient_name': ['Daniel', 'Alice', 'Bob', 'George', 'Alain'],
    'conditions': ['YFEV COUGH', '', 'DIAB100 MYOP', 'ACNE DIAB100', 'DIAB201']
}
df = pd.DataFrame(data)

# Filter patients with conditions starting with DIAB1
diabetes_patients_df = df[df['conditions'].str.contains(r'\bDIAB1[0-9]*\b', regex=True)]

# Display the result
print(diabetes_patients_df)

   patient_id patient_name    conditions
2           3          Bob  DIAB100 MYOP
3           4       George  ACNE DIAB100

In [9]:
def count_occurrences(text: str, substring: str) -> int:
    # Initialize a variable to keep track of the count
    count = 0
    
    # Loop through the text
    for i in range(len(text) - len(substring) + 1):
        # Logical part: Check if the substring matches the current part of the text
        if text[i:i+len(substring)]== substring:
            # If it matches, increment the count
            count += 1
    
    # Return the final count
    return count

# Example usage
text = "abababa"
substring = "aba"
print(count_occurrences(text, substring))  # Expected output: 3

3

In [10]:
import pandas as pd
import numpy as np

def nth_highest_salary(employee: pd.DataFrame, N: int) -> pd.DataFrame:
    # Remove duplicate salaries and sort in descending order
    df_unique = employee[['salary']].drop_duplicates()
    df_sorted = df_unique.sort_values(by='salary', ascending=False)
    
    # Determine the nth highest salary
    if N > len(df_sorted):
        nth_highest_salary = np.nan
    else:
        nth_highest_salary = df_sorted.iloc[N-1]['salary']
    
    # Create and return the result DataFrame
    result_df = pd.DataFrame({f'getNthHighestSalary({N})': [nth_highest_salary]})
    return result_df

# Example usage
# Creating the DataFrame for testing
data = {'id': [1, 2, 3], 'salary': [100, 200, 300]}
df = pd.DataFrame(data)

# Get the 2nd highest salary
result = nth_highest_salary(df, 2)
print(result)  # Output: DataFrame with the 2nd highest salary

# Example with not enough salaries
data = {'id': [1], 'salary': [100]}
df = pd.DataFrame(data)

# Get the 2nd highest salary
result = nth_highest_salary(df, 2)
print(result)  # Output: DataFrame with NaN

   getNthHighestSalary(2)
0                     200
   getNthHighestSalary(2)
0                     NaN

In [11]:
import pandas as pd
import numpy as np

def nth_highest_salary(employee: pd.DataFrame, N: int) -> pd.DataFrame:
    df_unique = employee['salary'].drop_duplicates()
    df_sorted = df_unique.sort_values(ascending=False)
    if N>len(df_sorted) or N<=0:
        nth_highest_salary =  np.nan
    else:
        nth_highest_salary = df_sorted.iloc[N-1]
    result_df = pd.DataFrame({f'getNthHighestSalary({N})' : [nth_highest_salary]})
    return result_df

In [12]:
import pandas as pd
import numpy as np

def second_highest_salary(employee: pd.DataFrame) -> pd.DataFrame:
    df_unique = employee['salary'].drop_duplicates()
    df_sorted = df_unique.sort_values(ascending=False)
    if len(df_sorted)>=2:
        SecondHighestSalary = df_sorted.iloc[1]
    else:
        SecondHighestSalary =  np.nan
    result_df = pd.DataFrame({'SecondHighestSalary' : [SecondHighestSalary]})
    return result_df