In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

# Data Loading

In [2]:
import pandas as pd

# Data provided
data = [
    [1, 25, 43],
    [3, 21, 40],
    [17, 31, 46],
    [4, 21, 41],
    [28, 20, 43],
    [30, 37, 47],
    [4, 39, 58],
    [2, 36, 40],
    [25, 21, 54],
    [16, 21, 58],
    [28, 20, 50],
    [4, 26, 45],
    [29, 32, 42],
    [10, 37, 58],
    [1, 38, 43],
    [19, 24, 51],
    [18, 32, 42],
    [27, 20, 58],
    [None, 21, 50],
    [None, 39, 50],
    [None, 27, 58],
    [None, 37, 47],
    [None, 37, None],
    [None, 29, None],
    [None, 33, None],
    [14, 34, None],
    [12, 28, None],
    [20, None, None],
    [11, None, None],
    [24, None, None],
    [29, None, None],
    [14, None, 43],
    [26, 24, 42],
    [13, 24, 58],
    [3, 32, 59],
    [8, 25, 45],
    [8, 34, 53],
    [18, 36, 58],
    [25, 28, 47],
    [2, 32, 45],
    [19, 29, 54],
    [25, 23, 48],
    [3, 40, 54],
    [29, 26, 42],
    [29, 29, 52],
    [13, 37, 40],
    [29, 33, 58],
    [7, 36, 59],
    [19, 31, 52],
    [30, 27, 47],
    [19, 36, 50],
    [11, 33, 50],
    [3, 31, 53],
    [26, 33, 58],
    [21, 29, 57],
    [20, 29, 52],
    [6, 22, 40],
    [19, 33, 52],
    [22, 25, 40]
]

# Create pandas dataframe
df = pd.DataFrame(data, columns=['Column1', 'Column2', 'Column3'])

df

    Column1  Column2  Column3
0       1.0     25.0     43.0
1       3.0     21.0     40.0
2      17.0     31.0     46.0
3       4.0     21.0     41.0
4      28.0     20.0     43.0
5      30.0     37.0     47.0
6       4.0     39.0     58.0
7       2.0     36.0     40.0
8      25.0     21.0     54.0
9      16.0     21.0     58.0
10     28.0     20.0     50.0
11      4.0     26.0     45.0
12     29.0     32.0     42.0
13     10.0     37.0     58.0
14      1.0     38.0     43.0
15     19.0     24.0     51.0
16     18.0     32.0     42.0
17     27.0     20.0     58.0
18      NaN     21.0     50.0
19      NaN     39.0     50.0
20      NaN     27.0     58.0
21      NaN     37.0     47.0
22      NaN     37.0      NaN
23      NaN     29.0      NaN
24      NaN     33.0      NaN
25     14.0     34.0      NaN
26     12.0     28.0      NaN
27     20.0      NaN      NaN
28     11.0      NaN      NaN
29     24.0      NaN      NaN
30     29.0      NaN      NaN
31     14.0      NaN     43.0
32     26.0     24.0     42.0
33     13.0     24.0     58.0
34      3.0     32.0     59.0
35      8.0     25.0     45.0
36      8.0     34.0     53.0
37     18.0     36.0     58.0
38     25.0     28.0     47.0
39      2.0     32.0     45.0
40     19.0     29.0     54.0
41     25.0     23.0     48.0
42      3.0     40.0     54.0
43     29.0     26.0     42.0
44     29.0     29.0     52.0
45     13.0     37.0     40.0
46     29.0     33.0     58.0
47      7.0     36.0     59.0
48     19.0     31.0     52.0
49     30.0     27.0     47.0
50     19.0     36.0     50.0
51     11.0     33.0     50.0
52      3.0     31.0     53.0
53     26.0     33.0     58.0
54     21.0     29.0     57.0
55     20.0     29.0     52.0
56      6.0     22.0     40.0
57     19.0     33.0     52.0
58     22.0     25.0     40.0

## Check if Null Values

In [3]:
null_values = df.isnull()
null_values

    Column1  Column2  Column3
0     False    False    False
1     False    False    False
2     False    False    False
3     False    False    False
4     False    False    False
5     False    False    False
6     False    False    False
7     False    False    False
8     False    False    False
9     False    False    False
10    False    False    False
11    False    False    False
12    False    False    False
13    False    False    False
14    False    False    False
15    False    False    False
16    False    False    False
17    False    False    False
18     True    False    False
19     True    False    False
20     True    False    False
21     True    False    False
22     True    False     True
23     True    False     True
24     True    False     True
25    False    False     True
26    False    False     True
27    False     True     True
28    False     True     True
29    False     True     True
30    False     True     True
31    False     True    False
32    False    False    False
33    False    False    False
34    False    False    False
35    False    False    False
36    False    False    False
37    False    False    False
38    False    False    False
39    False    False    False
40    False    False    False
41    False    False    False
42    False    False    False
43    False    False    False
44    False    False    False
45    False    False    False
46    False    False    False
47    False    False    False
48    False    False    False
49    False    False    False
50    False    False    False
51    False    False    False
52    False    False    False
53    False    False    False
54    False    False    False
55    False    False    False
56    False    False    False
57    False    False    False
58    False    False    False

In [4]:
null_values.shape

(59, 3)

In [5]:
null_values.iloc[20, 1]

False

## Printing Missing Values

In [6]:
def check_null_values(df):
    null_values = df.isnull()
    
    for row in range(null_values.shape[0]):
        for col in range(null_values.shape[1]):
            if null_values.iloc[row, col]:
                print(f'Missing value at row index: {row}, column index: {col}')

In [7]:
check_null_values(df)

Missing value at row index: 18, column index: 0
Missing value at row index: 19, column index: 0
Missing value at row index: 20, column index: 0
Missing value at row index: 21, column index: 0
Missing value at row index: 22, column index: 0
Missing value at row index: 22, column index: 2
Missing value at row index: 23, column index: 0
Missing value at row index: 23, column index: 2
Missing value at row index: 24, column index: 0
Missing value at row index: 24, column index: 2
Missing value at row index: 25, column index: 2
Missing value at row index: 26, column index: 2
Missing value at row index: 27, column index: 1
Missing value at row index: 27, column index: 2
Missing value at row index: 28, column index: 1
Missing value at row index: 28, column index: 2
Missing value at row index: 29, column index: 1
Missing value at row index: 29, column index: 2
Missing value at row index: 30, column index: 1
Missing value at row index: 30, column index: 2
Missing value at row index: 31, column index: 1